.w-pc-home-screen1b{
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
}


.w-pc-home-screen1b>
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50vh;
    box-sizing: border-box;
    border: 1px solid green;
}

/* .w-pc-home-screen1b>
.wrapper>
.grid-item{
    border: 1px solid red;
} */

.w-pc-home-screen1b>
.wrapper>
.grid-item.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.w-pc-home-screen1b>
.wrapper>
.grid-item.image>
img{
    height: 30vh;
    border-radius: 50%;
}


.w-pc-home-screen1b>
.wrapper>
.grid-item.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
}

.w-pc-home-screen1b>
.wrapper>
.grid-item.text-wrapper>
h2{
    font-size: 4vh;
    margin-bottom: 2vh;
}