.w-pc-prova-conveyor {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(234, 233, 233, 0.354);
}

.w-pc-prova-conveyor.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    /* background-color: #2a4261; */
    /* background-color: gray; */
    height: 100vh;
}

.w-pc-prova-conveyor.wrapper>.background {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(95, 199, 255); */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 101;
}

.w-pc-prova-conveyor.wrapper>.background>.frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.w-pc-prova-conveyor.wrapper>.background>.frame>img {
    width: 100%;
}

.w-pc-prova-conveyor.wrapper>.shield {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: salmon; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 102;
}

.w-pc-prova-conveyor.wrapper>.content {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: cadetblue; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 102;

}

.w-pc-prova-conveyor.wrapper>.content.display {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 3vw;
    box-sizing: border-box;
    /* background-color: #2a4261; */
    /* background-color: black; */
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: rgb(45, 45, 45);
}

/* .scroll-wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
} */
/* .scroll-wrapper.display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline:1vw;
    box-sizing: border-box;
} */
.scroll-wrapper.frame.left {
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    opacity: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 1%;
    cursor: pointer;
}

.scroll-wrapper.frame>img {
    height: 5vh;
    filter: invert(90%);
}

.scroll-wrapper.frame>img:hover {
    transform: scale(0.9);
}

.scroll-wrapper.frame.right {
    transform: rotate(180deg);
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    opacity: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1%;
    cursor: pointer;
}
.w-pc-prova-conveyor.wrapper>.content.display>.text-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.w-pc-prova-conveyor.wrapper>.content.display>.text-wrapper>h2 {
    color: rgb(45, 45, 45);
    font-size: 3.8vw;
    /* background-color: red; */
}
.w-pc-prova-conveyor.wrapper>.content.display>.text-wrapper>h3 {
    color: rgb(45, 45, 45);
    font-size: 3.8vw;
    margin-left: 1.1vw;
    color: #0cacb7;
    /* background-color: red; */
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid {
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* background-color: blue; */
   
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item {
    min-width: 40vw;
    margin-right: 20px;
    height: 30vw;
    width: 300px;
    border-radius: 8px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card {
    height: 95%;
    width: 90%;
    box-sizing: border-box;
    padding-inline: 5%;
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color:#f0f0f0; */
    
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.frame {
    height: 30%;
    width: 25%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    align-self: end;
    transform: translate(-1.5vw, 2.5vw);

}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.frame>img {
    width: 100%;
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

/* .w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.frame>img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
} */

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper {
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.193);
    border-radius: 20px;
    background-color: #fff;
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper {
    padding-block: 1vw;
    padding-inline: 1.5vw;
    

}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper>h2 {
    color: rgb(45, 45, 45);
    font-size: 2.8vw;
    cursor: pointer;
    transition: 0.3s ease;
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper>h2:hover {
    transition: 0.3s ease;
    color: #cecbcb;
}

.w-pc-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper>p {
    color: rgb(45, 45, 45);
    font-size: 1.2vw;
    text-align: justify;
    width: 90%;
}


/* mobile */
.w-mob-prova-conveyor {
    height: 180vh;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
}

.w-mob-prova-conveyor.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    background-color: #2a4261;
    height: 180vh;
}

.w-mob-prova-conveyor.wrapper>.background {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(95, 199, 255); */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 101;
}

.w-mob-prova-conveyor.wrapper>.background>.frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.w-mob-prova-conveyor.wrapper>.background>.frame>img {
    width: 100%;
}

.w-mob-prova-conveyor.wrapper>.shield {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: salmon; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 102;
}

.w-mob-prova-conveyor.wrapper>.content {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: cadetblue; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 102;
}

.w-mob-prova-conveyor.wrapper>.content.display {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 3vw;
    box-sizing: border-box;
    background-color: #2a4261;
    /* background-color: black; */
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.w-mob-prova-conveyor.wrapper>.content.display>.text-wrapper>h2 {
    color: #fff;
    font-size: 9vw;
    margin-block: 3vw;
    padding-inline: 8vw;
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid {
    display: flex;
    width: 100%;
    height: 100%;
    /* overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px dashed yellow; */

}


.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item {
    /* min-width: 500px;
    height: 30vw;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    scroll-snap-align: start; */
    min-width: 40vw;
    margin-right: 20px;
    height: 42vh;
    width: 300px;
    /* background-color: #f0f0f0; */
    border-radius: 8px;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card {
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 5%;
    /* background-color:#f0f0f0; */
    /* border: 1px dashed yellow; */
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.frame {
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.frame>img {
    width: 100%;
    border-radius: 20px;
    transition: 0.3s ease;
}

/* .w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.frame>img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
} */

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper {
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper {
    padding-block: 1vw;
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper>h2 {
    color: #fff;
    font-size: 6vw;
    cursor: pointer;
    transition: 0.3s ease;
}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper>h2:hover {
    transition: 0.3s ease;
    color: #cecbcb;

}

.w-mob-prova-conveyor.wrapper>.content.display>.wrapper.grid>.item>.card>.text-wrapper>p {
    color: #fff;
    font-size: 3vw;
    text-align: justify;
    width: 100%;
}